<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DocumentProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DocumentProviderFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Glance - KitchenSink WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KitchenKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>KitchenSink WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KitchenSink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - KitchenSink WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PhotoEditingExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>830991CF1B7140C5007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830991E41B7140C5007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830992051B714128007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8309921F1B714171007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830992311B7151A3007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830992411B7151BF007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8309924E1B7151BF007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830992651B715343007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8309927C1B715353007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8309928E1B71535B007FCDAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837D3D8D1B73DB4D004BB293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837D3D971B73DB4D004BB293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
